{% extends "base.html.twig" %}

{% block title %} Alpha-betise info Paiement {% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="column has-text-centered">
            <h1 class="title ">
                Politique de Paiement
            </h1>
        </div>
        <div class="column has-text-centered">
            <p class="content is-size-4 ">
                <span class="-warnning"><i class="fas fa-exclamation-triangle"></i> </span>
                L'ensemble des informations du site sont fictif . <br>
                sur le site vous pourrez mettre des arcticles
                dans votre panier consulter le contenue du panier en question.
                <span class="has-text-danger">
                    mais en aucun cas commander,
                    je n'ai pas d'article a vous vendre .
                </span>

            </p>
        </div>
    </div>
</section>
{% endblock %}