<h1>  <span style="color: blueviolet;">Alpha betise Confirmation email</span>  </h1>

<p>
    pour finaliser votre inscription vous devez comfirmer votre adresse mail: <br><br>
    <a href="{{ signedUrl|raw }}">Comfirmer mon email</a>.
    ce lien expire dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


