body{
    font-family: cursive;
    background-color: rgba(239, 247, 252, 0.993);
}
.panier-contenue{
    background-color: #e2001a;
    color:white;
    border-radius: 50% ;
    width: 20px;
    height: 23px;
    display: inline-block;   
}
.nav-perso{
    background-color: rgba(239, 247, 252, 0.993);
}
.message-erreur{
    font-size: 2.4rem;
}
.code{
    font-size: 3.5rem;
}