body{
    font-family: cursive;
    background-color: rgba(239, 247, 252, 0.993);
}

header{

    background-color: rgba(239, 247, 252, 0.993);
}
.nav-perso{
    
    background-color: rgba(239, 247, 252, 0.993);
}
.calendrier{
    
    text-align: center;
    margin: 0 auto;
    
}
.panier-contenue{
    background-color: #e2001a;
    color:white;
    border-radius: 50% ;
    width: 20px;
    height: 23px;
    display: inline-block;   
}
.img-produit{
    max-height: 100px;

}
#mapid{
    height: 400px;  
}

.titre-co{
    color:hsla(240, 65%, 66%, 0.953);
}
.footer-text{
    color: white;
}
.footer-text:hover{
    color: #5e5ed8;
}
