{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div>
            {{ form_start(ajoutForm) }}

            {{ form_end(ajoutForm) }}
        </div>

        
{% endblock %}
