{% extends 'base.html.twig' %}

{% block title %}contact {% endblock %}

{% block javascripts %}

<link rel="stylesheet" href=" {{asset('css/contact.css')}}">
    
{% endblock  %}

{% block body %}

<div class="contenue">

    <img class="contact-img" src="{{asset('img/home-bg2.jpg') }}" alt="">

<div class="fond-noir">

</div>

        <div class="container has-text-centered  block-contenue">
            <div class="column">
              <h1 class="title is-1 mb-6 has-text-white">nous contacter</h1>
              
            </div>
            <div class="columns is-8 ">
                <div class="column is-two-thirds ">
                    <div class="columns mb-5">
                        <div class="column  ">
                            <p>telephone :</p>
                             <i class="fas fa-phone-alt"></i> 0781245190 </div>
                        <div class="column  ">
                            <p>Adresse:</p>
                            <span style="color: red;"><i class="fas fa-map-marker-alt"></i></span>  Rue batimlent 67000 strasbourg </div>
                    </div>
                </div>
                <div class="column is-4 has-text-left">
                    <div class="field">
                        <label >Name</label>
                        <div class="control">
                            <input class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <div class="control">
                            <input class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label >Message</label>
                        <div class="control">
                            <textarea class="textarea is-medium"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">envoyer</button>
                    </div>
                </div>
                
            </div>
<div class="column">
                    <div class="social-media mb-5">
                        <a href="" target="_blank" class="button is-link is-outlined "><i class="fab fa-facebook-f"></i></a>
                        <a href="" target="_blank" class="button is-danger is-outlined "><i  class="fab fa-instagram"></i></i></a>
                        <a href="" target="_blank" class="button is-link is-outlined "><i class="fab fa-twitter"></i></i></a>
                    </div>
                </div>

        </div>
</div>
{% endblock %}
